
{% load staticfiles %}
<form method="post" action="."> {# dot specifies 'submit to the same url', not necessary (same as default, but more explicit#}
    {% csrf_token %}
{#    {{ form.as_p }}#}
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    {% for field in form %}

           <tr><td style="padding: 5px;" width="100" align="center" valign="top">{{ field.label_tag }}</td>
           <td align="left" valign="top"><span style="padding-left: 10px;">{{ field }}</span></td></tr>
    {% endfor %}
    </table>

    <input type="submit" value="Submit">
</form>
<form action="" method="POST">
    {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_0ka22OyPdHUkD8DrphKsXUDy"
    data-amount="2000"
    data-name="Sparq"
    data-description="1 month @ ($20.00)"
    data-image="{% static "img/heart_PNG704.png" %}">
  </script>
</form>